use strict;
package Ferret::Config;

# CHANGE THIS TO FERRET REPOSITORY DIRECTORY
our $ferret_root = '/Users/someperson/Projects/ferret';

# you may add your own paths here if you wish
our @user_lib = (

);

require Ferret::Lib;
